<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,70}</string>
                <key>spriteSourceSize</key>
                <string>{45,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,88}</string>
                <key>spriteSourceSize</key>
                <string>{36,88}</string>
                <key>textureRect</key>
                <string>{{45,0},{36,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,70}</string>
                <key>spriteSourceSize</key>
                <string>{43,70}</string>
                <key>textureRect</key>
                <string>{{81,0},{43,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,97}</string>
                <key>spriteSourceSize</key>
                <string>{36,97}</string>
                <key>textureRect</key>
                <string>{{124,0},{36,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{160,0},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{56,90}</string>
                <key>textureRect</key>
                <string>{{207,0},{56,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,86}</string>
                <key>spriteSourceSize</key>
                <string>{59,86}</string>
                <key>textureRect</key>
                <string>{{263,0},{59,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,104}</string>
                <key>spriteSourceSize</key>
                <string>{61,104}</string>
                <key>textureRect</key>
                <string>{{322,0},{61,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,106}</string>
                <key>spriteSourceSize</key>
                <string>{47,106}</string>
                <key>textureRect</key>
                <string>{{383,0},{47,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dun49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,106}</string>
                <key>spriteSourceSize</key>
                <string>{61,106}</string>
                <key>textureRect</key>
                <string>{{430,0},{61,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dun.png</string>
            <key>size</key>
            <string>{491,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba9cda012dd7015e77dd626da50266a:26611020250146a61dc6f7ebf3afabc2:33d301f816057b7d43fe8f19eaff8017$</string>
            <key>textureFileName</key>
            <string>Dun.png</string>
        </dict>
    </dict>
</plist>
