<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,131}</string>
                <key>spriteSourceSize</key>
                <string>{25,131}</string>
                <key>textureRect</key>
                <string>{{196,425},{25,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,106}</string>
                <key>spriteSourceSize</key>
                <string>{63,106}</string>
                <key>textureRect</key>
                <string>{{0,425},{63,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon12_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{63,220},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon13_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,99}</string>
                <key>spriteSourceSize</key>
                <string>{36,99}</string>
                <key>textureRect</key>
                <string>{{162,220},{36,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon14_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,135}</string>
                <key>spriteSourceSize</key>
                <string>{90,135}</string>
                <key>textureRect</key>
                <string>{{88,556},{90,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,108}</string>
                <key>spriteSourceSize</key>
                <string>{95,108}</string>
                <key>textureRect</key>
                <string>{{63,425},{95,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{138,139},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,74}</string>
                <key>spriteSourceSize</key>
                <string>{126,74}</string>
                <key>textureRect</key>
                <string>{{68,65},{126,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,101}</string>
                <key>spriteSourceSize</key>
                <string>{126,101}</string>
                <key>textureRect</key>
                <string>{{0,319},{126,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{178,556},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,149}</string>
                <key>spriteSourceSize</key>
                <string>{79,149}</string>
                <key>textureRect</key>
                <string>{{0,700},{79,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,167}</string>
                <key>spriteSourceSize</key>
                <string>{101,167}</string>
                <key>textureRect</key>
                <string>{{79,700},{101,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,131}</string>
                <key>spriteSourceSize</key>
                <string>{88,131}</string>
                <key>textureRect</key>
                <string>{{0,556},{88,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon4_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,106}</string>
                <key>spriteSourceSize</key>
                <string>{63,106}</string>
                <key>textureRect</key>
                <string>{{126,319},{63,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{0,65},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{79,139},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{0,139},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,122}</string>
                <key>spriteSourceSize</key>
                <string>{38,122}</string>
                <key>textureRect</key>
                <string>{{158,425},{38,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,88}</string>
                <key>spriteSourceSize</key>
                <string>{63,88}</string>
                <key>textureRect</key>
                <string>{{0,220},{63,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Weapon.png</string>
            <key>size</key>
            <string>{243,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f96caf557839a2ea486da26588b11a:9bbd795f8eb56cea04983d249f21d31d:3a19be3b614f6afe886e6807f4d23a42$</string>
            <key>textureFileName</key>
            <string>Weapon.png</string>
        </dict>
    </dict>
</plist>
