<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,50}</string>
                <key>spriteSourceSize</key>
                <string>{63,50}</string>
                <key>textureRect</key>
                <string>{{223,0},{63,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,34}</string>
                <key>textureRect</key>
                <string>{{142,0},{81,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{65,0},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,41}</string>
                <key>spriteSourceSize</key>
                <string>{99,41}</string>
                <key>textureRect</key>
                <string>{{0,97},{99,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,41}</string>
                <key>spriteSourceSize</key>
                <string>{79,41}</string>
                <key>textureRect</key>
                <string>{{286,0},{79,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{178,50},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,43}</string>
                <key>spriteSourceSize</key>
                <string>{92,43}</string>
                <key>textureRect</key>
                <string>{{347,50},{92,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun36_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,41}</string>
                <key>spriteSourceSize</key>
                <string>{81,41}</string>
                <key>textureRect</key>
                <string>{{0,50},{81,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun37_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{90,43}</string>
                <key>textureRect</key>
                <string>{{257,50},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,45}</string>
                <key>spriteSourceSize</key>
                <string>{92,45}</string>
                <key>textureRect</key>
                <string>{{99,97},{92,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,38}</string>
                <key>spriteSourceSize</key>
                <string>{97,38}</string>
                <key>textureRect</key>
                <string>{{81,50},{97,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun40_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{90,36}</string>
                <key>textureRect</key>
                <string>{{365,0},{90,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun41_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{122,146},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun44_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{113,43}</string>
                <key>textureRect</key>
                <string>{{281,97},{113,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,49}</string>
                <key>spriteSourceSize</key>
                <string>{90,49}</string>
                <key>textureRect</key>
                <string>{{191,97},{90,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,45}</string>
                <key>spriteSourceSize</key>
                <string>{122,45}</string>
                <key>textureRect</key>
                <string>{{0,146},{122,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,63}</string>
                <key>spriteSourceSize</key>
                <string>{115,63}</string>
                <key>textureRect</key>
                <string>{{228,146},{115,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,65}</string>
                <key>textureRect</key>
                <string>{{343,146},{113,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Gun.png</string>
            <key>size</key>
            <string>{456,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ef90fd8fe37d5fab4ffdd84275aed5:45f4ed22bf6d0e2ef2a9def2f75ade29:e26357386a308f4f070a0d1ae495bba9$</string>
            <key>textureFileName</key>
            <string>Gun.png</string>
        </dict>
    </dict>
</plist>
