<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,59}</string>
                <key>spriteSourceSize</key>
                <string>{122,59}</string>
                <key>textureRect</key>
                <string>{{0,56},{122,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,79}</string>
                <key>spriteSourceSize</key>
                <string>{135,79}</string>
                <key>textureRect</key>
                <string>{{282,56},{135,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{160,74}</string>
                <key>textureRect</key>
                <string>{{122,56},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing26_27_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,99}</string>
                <key>spriteSourceSize</key>
                <string>{126,99}</string>
                <key>textureRect</key>
                <string>{{0,135},{126,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,56}</string>
                <key>spriteSourceSize</key>
                <string>{214,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing29_30_31_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,106}</string>
                <key>spriteSourceSize</key>
                <string>{221,106}</string>
                <key>textureRect</key>
                <string>{{126,135},{221,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,56}</string>
                <key>spriteSourceSize</key>
                <string>{185,56}</string>
                <key>textureRect</key>
                <string>{{214,0},{185,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing35_36_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,122}</string>
                <key>spriteSourceSize</key>
                <string>{212,122}</string>
                <key>textureRect</key>
                <string>{{182,241},{212,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,119}</string>
                <key>spriteSourceSize</key>
                <string>{182,119}</string>
                <key>textureRect</key>
                <string>{{0,241},{182,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,140}</string>
                <key>spriteSourceSize</key>
                <string>{245,140}</string>
                <key>textureRect</key>
                <string>{{0,363},{245,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wing.png</string>
            <key>size</key>
            <string>{417,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c67c5da9e6b6a7383d0581d2fcd80eea:e7075312247ba6d3d974f191c2f3827c:3b24fd0038c3d9ab2ebe8700f438d4c8$</string>
            <key>textureFileName</key>
            <string>Wing.png</string>
        </dict>
    </dict>
</plist>
