<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,22}</string>
                <key>spriteSize</key>
                <string>{34,4}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{476,800},{34,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Equipment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Equipmentlist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,46}</string>
                <key>spriteSourceSize</key>
                <string>{467,46}</string>
                <key>textureRect</key>
                <string>{{0,1036},{467,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Evasion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{88,28}</string>
                <key>textureRect</key>
                <string>{{120,1082},{88,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconSet2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{148,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{180,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{244,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{184,1170},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconSet2-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{276,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{276,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{280,1146},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{308,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{308,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{312,1146},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{436,1136},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{148,1146},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{180,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{340,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{340,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{436,1082},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconSet2-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{344,1146},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{372,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-257.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{204,1146},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{372,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{376,1146},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{152,1170},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{216,1166},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{212,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{436,1110},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{120,1170},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{212,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{248,1161},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconSet2-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{244,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{0,1082},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gedou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{148,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{236,1146},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,236}</string>
                <key>spriteSourceSize</key>
                <string>{476,236}</string>
                <key>textureRect</key>
                <string>{{0,800},{476,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quanneng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{404,1082},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{404,1114},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,46}</string>
                <key>spriteSourceSize</key>
                <string>{467,46}</string>
                <key>textureRect</key>
                <string>{{0,1036},{467,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{180,1146},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI2.png</string>
            <key>size</key>
            <string>{480,1201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e13a6a7a4e3e82a9e46dcb9d483592:7f9c42e5942388846f62010a8f9f1456:f17a81478429b41b37e6a0d743288f10$</string>
            <key>textureFileName</key>
            <string>UI2.png</string>
        </dict>
    </dict>
</plist>
