<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,156}</string>
                <key>spriteSourceSize</key>
                <string>{96,156}</string>
                <key>textureRect</key>
                <string>{{1218,483},{96,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,156}</string>
                <key>spriteSourceSize</key>
                <string>{96,156}</string>
                <key>textureRect</key>
                <string>{{1218,641},{96,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CharacterCreate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,516}</string>
                <key>spriteSourceSize</key>
                <string>{450,516}</string>
                <key>textureRect</key>
                <string>{{483,483},{450,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{483,1},{480,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,800}</string>
                <key>spriteSourceSize</key>
                <string>{480,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatinput.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,34}</string>
                <key>textureRect</key>
                <string>{{1218,938},{64,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,50}</string>
                <key>spriteSourceSize</key>
                <string>{480,50}</string>
                <key>textureRect</key>
                <string>{{1,965},{480,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,160}</string>
                <key>spriteSourceSize</key>
                <string>{480,160}</string>
                <key>textureRect</key>
                <string>{{1,803},{480,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,33}</string>
                <key>textureRect</key>
                <string>{{1183,935},{70,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>into.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,70}</string>
                <key>spriteSourceSize</key>
                <string>{246,70}</string>
                <key>textureRect</key>
                <string>{{935,935},{246,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,255}</string>
                <key>spriteSourceSize</key>
                <string>{450,255}</string>
                <key>textureRect</key>
                <string>{{935,483},{450,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menuSelect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,50}</string>
                <key>spriteSourceSize</key>
                <string>{96,50}</string>
                <key>textureRect</key>
                <string>{{1218,799},{96,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuSelecting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,50}</string>
                <key>spriteSourceSize</key>
                <string>{96,50}</string>
                <key>textureRect</key>
                <string>{{1218,851},{96,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{1254,938},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{114,30}</string>
                <key>textureRect</key>
                <string>{{1285,1},{114,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{114,30}</string>
                <key>textureRect</key>
                <string>{{1285,117},{114,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{114,30}</string>
                <key>textureRect</key>
                <string>{{1285,233},{114,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{114,30}</string>
                <key>textureRect</key>
                <string>{{1285,349},{114,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,33}</string>
                <key>textureRect</key>
                <string>{{1218,903},{70,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,50}</string>
                <key>spriteSourceSize</key>
                <string>{480,50}</string>
                <key>textureRect</key>
                <string>{{1,965},{480,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1316,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7541f7a99de9ca0cdccd8f2b42a05753:1e2cc987fa546dbfcea70f2279ba7431:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
